<h1><%= @user.name %></h1>

<h2>Secrets</h2>
<ul class="secrets">
  <% @received_secrets.each do |secret| %>
    <li><%= secret.text %></li>
    <ul><% secret.tags.each do |tag| %>
        <li><%= tag.text %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

<%= render "secrets/form", choose_user: false, user: @user, tags: @tags %>

<script>
  $('form').on('submit', function(event) {
    event.preventDefault();

    var form = $(this);
    var textbox = $('#secret-box');

    $.ajax({
      type: 'POST',
      url: '<%= secrets_url %>',
      data: form.serialize(),
      dataType: 'json',
      success: function( response ){
        var newSecret = $('<li>'+ response[0].text +'</li>');
        if (response[1]) {
          var tagList = $('<ul></ul>');
          response.shift();
          response.forEach(function(tag){
            var newTag = $('<li>'+tag.text+'</li>');
            tagList.append(newTag)
          });
        }
        newSecret.append(tagList);
        $('.secrets').append(newSecret);
        textbox[0].value = '';
        $('#selected-tags').children().remove();
      }
    });
  });
</script>