<form action="<%= secrets_url %>" method="POST">
  <%= render "layouts/auth" %>

  <% if choose_user %>
  <select name="secret[recipient_id]">
    <option value=""></option>
    <% users.each do |user| %>
      <% next if user.id == current_user.id %>
      <option value="<%= user.id  %>"><%= user.name %></option>
    <% end %>
  </select><br>
  <% else %>
  <input type="hidden" name="secret[recipient_id]" value="<%= user.id %>">
  <% end %>

  <textarea rows="5" cols="20" name="secret[text]" id="secret-box"></textarea><br>
  <input type="submit" value="Submit your secret">
</form>