<form action="<%= secrets_url %>" method="POST">
  <%= render "layouts/auth" %>

  <% if choose_user %>
  <select name="secret[recipient_id]">
    <option value=""></option>
    <% users.each do |user| %>
      <% next if user.id == current_user.id %>
      <option value="<%= user.id  %>"><%= user.name %></option>
    <% end %>
  </select><br>
  <% else %>
  <input type="hidden" name="secret[recipient_id]" value="<%= user.id %>">
  <% end %>

  <textarea rows="5" cols="20" name="secret[text]" id="secret-box"></textarea><br>

  <div id="selected-tags">
  </div>

  <div id="tags">
    <select id="tag-select">
      <option value=""></option>
      <% tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.text %></option>
      <% end %>
    </select>
  </div>

  <script type="application/json" id="bootstrapped-tags">
    <%= tags.to_json.html_safe %>
  </script>

  <script type="application/javascript">

    var addTagToForm = function() {
      var tag = $('#tag-select option:selected');
      var tagName = tag.html();
      var tagID = tag.attr('value');

      label = $('<label>'+tagName+'<br></label>')
      label.append($('<input type=hidden name=tag_ids[]                                 value='+tagID+'>'))

      $('#selected-tags').append(label);
    };

    $('#tag-select').on('change', addTagToForm);

  </script>


  <input type="submit" value="Submit your secret">
</form>